#app {
    background-color: blueviolet;
}
.line {
    height:6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#game {
    background-color: cornflowerblue;
}
body {
    text-align: center;
}